@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    background: #52B788;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.upper_part{
    position: relative;
    padding: 70px;
    margin: 30vh 30vh 0 30vh;
    display: flex;
    align-content: center;
    flex-direction: row;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    background: linear-gradient(65deg, #95d5b2 0 15%, #fff 0 100%);
}

.upper_part .container{
    margin: 50px;
}

.upper_part img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.upper_part h4{
    color: #52B788;
}

.upper_part h3,h4{
    font-weight: 400;
}

.links {
   background: #dee2e6;
   font-size: 40px;
   color: #333;
   display: flex;
   justify-content: center;
   align-content: center;
   padding: 10px 20vh;
   margin: 0 35vh;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.links a:hover {
    text-decoration: none;
    color: #333;
}

.links a:visited {
    text-decoration: none; 
    color: #333;
}

.links a:focus {
    text-decoration: none;
    color: #333;
}

.clear{
    display: block;
}